/* src/assets/styles/App.css */

.App {
    text-align: center;
    background-color: #ffffff; /* Blanco */
    min-height: 100vh;
  }
  
  /* Encabezado */
  .App-header {
    background-color: #e83e8c; /* Rosa */
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    padding: 2rem;
  }
  
  /* Logo */
  .App-logo {
    height: 100px;
    animation: App-logo-spin infinite 20s linear;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Enlaces dentro de componentes */
  .App-link {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
  }
  